<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Secret</key>
	<string>I2400aExN67V9Hx2hW9RGb9dbi0Xa1MCQyeDoVhl</string>
	<key>Key</key>
	<string>8PyrDwXNuLcoxoX6s9M00AtmBePx8nWfcSw8p3CG</string>
</dict>
</plist>
